html
    head
        title 모두의 일기장
    body
        h1 
            a(href='/') 모두의 일기장
        h2
            if session.nickname
                span=session.nickname
                button(onclick="location.href='/logout'") 로그아웃
        form(action='/create_process', method='post')
            p
                input(type="text", name="title", placeholder="제목", cols="30", rows="10")
            p
                textarea(name="description", placeholder='내용', cols="30", rows="10")
            p
                input(type='submit', value='글쓰기')